<nav class="navbar bg-primary">
    <div class="container py-2">
        <a class="navbar-brand" href="">
            <img src="assets/images/BCParks_Primary_Reversed-cropped-0080416cb5f347c8e7c33f32739f17ca.svg"
                alt="Bootstrap" height="45">
        </a>
        <div class="d-flex">
            <input class="form-control me-2" type="text" ngDefaultControl (keyup.enter)="doSearch()"
                [(ngModel)]="searchBox" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" (click)="doSearch()">Search</button>
        </div>
        <app-profile-offcanvas></app-profile-offcanvas>
    </div>
</nav>