<!-- <mgl-map
    [style]="'https://demotiles.maplibre.org/style.json'"
    [zoom]="[5]"
    [center]="[-123.19, 48.24]">
    <mgl-control
    mglTerrain
    source="rasterDemSource"
    exaggeration="3.1"
  ></mgl-control>
    <mgl-control> Hello </mgl-control>
    <mgl-control mglGeolocate ></mgl-control>
    <mgl-control mglScale unit="imperial"></mgl-control>
  <mgl-popup [lngLat]="[-123.3656, 48.4284]" [closeOnClick]="false">
    <h1>Hello Victoria, BC!</h1>
  </mgl-popup>
</mgl-map> -->
<div id="map"></div>